APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:h55oToUypq1BJwhcBAbtCnKscJGGS7xXF3zoDNf/yWE=
APP_DEBUG=true
APP_URL={{ API_ENDPOINT }}

LOG_CHANNEL=stderr

DB_CONNECTION=mysql
DB_HOST="{{ DB_HOST }}"
DB_PORT="{{ DB_PORT }}"
DB_DATABASE="{{ DB_DATABASE }}"
DB_USERNAME="{{ DB_USERNAME }}"
DB_PASSWORD="{{ DB_PASSWORD }}"

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
